.col-xs-2 {
    display:none;
}

.contact-row.ng-enter {
    animation: fadeInDown 0.5s;
}

.contact-row.ng-leave {
    animation: fadeOutDown 0.25s;
}

@media only screen and (max-device-width: 480px) {
    .col-xs-9, .col-xs-2 {
        display: inline-block;
    }
    
    .col-xs-9 {
        vertical-align: middle;
    }
    
    #contact-form-row, #contact-email-col, #contact-number-col {
        display: none;
    }
    
    #contact-delete-col, #contact-edit-col {
        float: right;
    }
    
    table {
        margin-top: 1em;
    }
    
    .table th, .table td {
        border: none !important;
    }
    
    thead tr {
        display: none;
    }
    
    tr {
        border: 1px solid white;
    }
}
