<div id="contact-index">
    <div class="row">
        <div class="col-xs-9">
            <h1>Contacts</h1>
        </div>
        <div class="col-xs-2">
            <button id="add-button" type="button" class="btn btn-success" ng-click="contactCtrl.startAdding()">
                <span class="fa fa-user-plus fa-fw"></span>
            </button>
        </div>
    </div>
    <div class="loading-spinner" wgl-loading-spinner ng-show="contactCtrl.isLoading"></div>
    <form name="contactForm" ng-submit="contactCtrl.updateContact()">
        <table class="table">
            <thead>
                <tr>
                    <th class="text">Name</th>
                    <th class="text">Email</th>
                    <th class="text">Number</th>
                    <th class="text">Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="contact-form-row">
                    <td>
                        <input 
                               type="text"
                               name="name"
                               class="contact-input form-control"
                               required
                               ng-class="{'has-error': contactForm.name.$touched && contactForm.name.$invalid}"
                               ng-model="contactCtrl.formData.name"
                        />
                    </td>
                    <td>
                        <input 
                               type="email"
                               name="email"
                               class="contact-input form-control"
                               required
                               ng-class="{'has-error': contactForm.email.$touched && contactForm.email.$invalid}"
                               ng-model="contactCtrl.formData.email"
                        />
                    </td>
                    <td>
                        <input 
                               type="text"
                               name="number"
                               class="contact-input form-control"
                               required
                               ng-class="{'has-error': contactForm.number.$touched && contactForm.number.$invalid}"
                               ng-model="contactCtrl.formData.number"
                        />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success">
                            <span ng-class="contactCtrl.updateIcon || 'fa fa-user-plus fa-fw'"></span>
                        </button>
                    </td>
                    <td ng-show="contactCtrl.isEditing">
                        <!-- type="button" required for html to not treat it as a submit button -->
                        <button type="button" class="btn btn-danger" ng-click="contactCtrl.stopEditing()">
                            <span class="fa fa-times fa-fw"></span>
                        </button>
                    </td>
                </tr>
                <tr class="contact-row" ng-repeat="contact in contactCtrl.contacts">
                    <td id="contact-name-col" class="text">{{contact.name}}</td>
                    <td id="contact-email-col" class="text">{{contact.email}}</td>
                    <td id="contact-number-col" class="text">{{contact.number}}</td>
                    <td id="contact-delete-col">
                        <button 
                                type="button"
                                class="btn btn-danger"
                                ng-disabled="contactCtrl.isEditing"
                                ng-click="contactCtrl.deleteContact(contact.id)">
                            <span class="fa fa-trash-o fa-fw"></span>
                        </button>
                    </td>
                    <td id="contact-edit-col">
                        <button 
                                type="button"
                                class="btn btn-warning"
                                ng-click="contactCtrl.startEditing(contact)">
                            <span class="fa fa-pencil fa-fw"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
