#dashboard-container {
    text-align: center;
}

.panel {
    display: inline-block;
    margin: 1em;
    max-width: 150px;
}

.panel-heading {
    color: #9E9E9E !important;
    background-color: #424242 !important;
}

.panel-heading {
    background-color: #080808;
}

.panel-body {
    line-height: 5em;
    background-color: #616161 !important;
}

.panel-heading, .panel-body {
    text-align: center;
}
