#dashboard-container {
    text-align: center;
}

.panel {
    display: inline-block;
    margin: 1em;
    max-width: 150px;
    border-color: black;
}

.panel-heading {
    color: #9E9E9E !important;
    background-color: #424242 !important;
}

.panel-body {
    line-height: 5em;
    background-color: #616161 !important;
}

.panel-heading, .panel-body {
    text-align: center;
}

@media only screen and (max-device-width: 480px) {
    .panel {
        background: none;
        margin: 0;
        width: 25vw;
        border: none;
    }
    
    .panel-heading {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .panel-body {
        line-height: 1em;
        background-color: rgba(0, 0, 0, 0) !important;
    }
    
    .fa-5x {
        font-size: 10vw;
    }
}
