<div id="dashboard-container">
    <div class="panel black">
        <div class="panel-heading text">Finances</div>
        <div class="panel-body">
            <span class="fa fa-money fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel black">
        <div class="panel-heading text">Kanban</div>
        <div class="panel-body">
            <span class="fa fa-columns fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel white" ng-click="dashboardCtrl.loadContactView()">
        <div class="panel-heading text">Contacts</div>
        <div class="panel-body">
            <span class="fa fa-users fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel black">
        <div class="panel-heading text">To Watch</div>
        <div class="panel-body">
            <span class="fa fa-film fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel black">
        <div class="panel-heading text">To Play</div>
        <div class="panel-body">
            <span class="fa fa-gamepad fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel black">
        <div class="panel-heading text">To Read</div>
        <div class="panel-body">
            <span class="fa fa-book fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel black">
        <div class="panel-heading text">Tools</div>
        <div class="panel-body">
            <span class="fa fa-wrench fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel black">
        <div class="panel-heading text">Projects</div>
        <div class="panel-body">
            <span class="fa fa-folder fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel black">
        <div class="panel-heading text">Snippets</div>
        <div class="panel-body">
            <span class="fa fa-terminal fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel black">
        <div class="panel-heading text">Ideas</div>
        <div class="panel-body">
            <span class="fa fa-lightbulb-o fa-fw fa-5x"></span>
        </div>
    </div>
</div>
