<div id="dashboard-container" class="container content">
    <div wg-error></div>
    
    <div class="panel panel-default" ng-click="dashboardCtrl.loadContactView()">
        <div class="panel-heading">Contacts</div>
        <div class="panel-body">
            <span class="fa fa-users fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel panel-default red">
        <div class="panel-heading">Finances</div>
        <div class="panel-body">
            <span class="fa fa-money fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel panel-default red">
        <div class="panel-heading">Kanban</div>
        <div class="panel-body">
            <span class="fa fa-columns fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel panel-default red">
        <div class="panel-heading">To Watch</div>
        <div class="panel-body">
            <span class="fa fa-film fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel panel-default red">
        <div class="panel-heading">To Play</div>
        <div class="panel-body">
            <span class="fa fa-gamepad fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel panel-default red">
        <div class="panel-heading">To Read</div>
        <div class="panel-body">
            <span class="fa fa-book fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel panel-default red">
        <div class="panel-heading">Tools</div>
        <div class="panel-body">
            <span class="fa fa-wrench fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel panel-default red">
        <div class="panel-heading">Projects</div>
        <div class="panel-body">
            <span class="fa fa-folder fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel panel-default red">
        <div class="panel-heading">Snippets</div>
        <div class="panel-body">
            <span class="fa fa-terminal fa-fw fa-5x"></span>
        </div>
    </div>
    
    <div class="panel panel-default red">
        <div class="panel-heading">Ideas</div>
        <div class="panel-body">
            <span class="fa fa-lightbulb-o fa-fw fa-5x"></span>
        </div>
    </div>
</div>
