<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <base href="/">
        
        <title ng-bind="$title + ' - Abject Admin'">Abject Admin</title>
        
        <script src="/angular/angular.js"></script>
        <script src="/angular-ui-router/angular-ui-router.js"></script>
        <script src="/angular-ui-router-title/angular-ui-router-title.js"></script>
        <script src="/angular-animate/angular-animate.js"></script>
        
        <script src="/controllers/error.controller.js"></script>
        <script src="/directives/error.directive.js"></script>
        <script src="/services/error.service.js"></script>
        <script src="/controllers/login.controller.js"></script>
        <script src="/controllers/dashboard.controller.js"></script>
        <script src="/controllers/contact.controller.js"></script>
        <script src="/controllers/app.js"></script>
        
        <script src="/jquery/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/animate.css/animate.min.css"/>
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/error.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/contact/contact.index.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css"/>
    </head>
    <body>
        <div id="nav-container" ng-include="'./_nav.html'"></div>
        <div id="main">
            <ui-view></ui-view>

            <div id="footer-container" ng-include="'./_footer.html'"></div>
        </div>
    </body>
</html>
